<template>
  <section>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ modalTitle }}</p>
        <button
          type="button"
          class="delete"
          @click="$emit('close')"/>
      </header>
      <section class="modal-card-body">
        <b-field
          label="Name"
          message="Please enter the note name"
        >
          <b-input name="name" expanded v-model="note.name"></b-input>
        </b-field>
        <b-field
          label="Description"
          message="Please enter the note description"
        >
          <b-input name="description" expanded v-model="note.description"></b-input>
        </b-field>
        <b-field>
          <p class="control">
            <b-button :label="submitLabel" type="is-primary" @click="submit"/>
          </p>
        </b-field>
      </section>
    </div>
  </section>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Object,
      default () {
        return {
          name: null,
          description: null,
          clientId: null
        }
      }
    },
    type: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      note: { ...this.value },
      submitLabel: this.type === 'create' ? 'Create new note' : 'Save',
      modalTitle: this.type === 'create' ? 'New note' : 'Edit note'
    }
  },
  methods: {
    ...mapActions('notes', ['addNote', 'editNote']),
    submit () {
      this.note.clientId = this.$config.clientId
      if (this.type === 'create') {
        this.addNote(this.note)
      } else if (this.type === 'edit') {
        const note = (({ id, name, description, clientId }) => ({ id, name, description, clientId }))(this.note)
        this.editNote(note)
      }
      this.$emit('close')
    }
  }
}
</script>
