<template>
  <section class="section">
    <p class="title"> Notes </p>
    <div class="buttons is-right">
      <b-button
        class='is-right is-success'
        icon-left="note-plus-outline"
        @click="add">
        New Note
      </b-button>
    </div>
    <b-table
      :data="notes">
      <b-table-column field="createdAt" label="Created" v-slot="props">
        {{ props.row.createdAt }}
      </b-table-column>
      <b-table-column field="name" label="Name" v-slot="props">
        {{ props.row.name }}
      </b-table-column>
      <b-table-column field="description" label="Description" v-slot="props">
        {{ props.row.description }}
      </b-table-column>
      <b-table-column field="clientId" label="Client" v-slot="props">
        {{ props.row.clientId }}
      </b-table-column >
      <b-table-column label="Actions" v-slot="props">
        <button class="button is-small is-light" @click="edit(props.row)">
          <b-icon icon="pen"></b-icon>
        </button>
        <button class="button is-small is-danger" @click="remove(props.row)">
          <b-icon icon="delete"></b-icon>
        </button>
      </b-table-column>
    </b-table>
    <b-loading :is-full-page="false" v-model="isLoading" :can-cancel="true"/>
  </section>
</template>

<script>

import { mapActions } from 'vuex'
import { mapState } from 'vuex'
import NoteForm from '~/components/NoteForm'

export default {
  name: 'HomePage',
  data () {
    return {
      isLoading: false,
      tableColumns: [
        {
          field: 'name',
          label: 'Name'
        },
        {
          field: 'description',
          label: 'Description'
        },
        {
          field: 'createdAt',
          label: 'Created'
        }
      ]
    }
  },
  computed: {
    ...mapState('notes', ['notes'])
  },
  async created () {
    this.isLoading = true
    await this.getNotes()
    this.isLoading = false
    this.subscribeToCreate()
  },
  methods: {
    ...mapActions('notes', ['getNotes', 'removeNote', 'subscribeToCreate']),
    add () {
      this.$buefy.modal.open({
        parent: this,
        component: NoteForm,
        props: {
          type: 'create'
        },
        hasModalCard: true
      })
    },
    edit (note) {
      this.$buefy.modal.open({
        parent: this,
        component: NoteForm,
        props: {
          value: note,
          type: 'edit'
        },
        hasModalCard: true
      })
    },
    remove (note) {
      this.removeNote(note.id)
    }
  }
}
</script>
